<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MapMyPoints.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>42F0E8801C4AF67500D35A93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42F0E8991C4AF67500D35A93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42F0E8A41C4AF67500D35A93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
